
<div class="card
          align
          mx-4
          mt-4
          bg-light
          text-black
          customCard position-relative">
       <a class="text-decoration-none card-header" href="/milestone/{{id}}">
  
    <h4 class="float-start">
      {{name}} &#128221;
    </h4>
  </a>
  {{!-- <hr /> --}}
  <p class="card-body milestone-description">{{description}}</p>

 <div class="card-footer pt-3">
    <div class="position-absolute bottom-0 end-0 ">
   
    <a class="me-3 text-decoration-none" href="/milestone/{{id}}">{{posts.length}} Posts</a>
  </div>
 </div>

</div>