<div class="card
          align
          mx-4
          mt-4
          bg-dark bg-gradient
          text-white
          customCard">
        <h4 class="card-header"></h4>
        <section class="card-body">
            {{#if isPrivate}}
            <div>
                <p>{{first_name}} {{last_name}} ({{nickname}})</p>
            </div>
            <div>
                <p>About me:<br>
                    {{about}}</p>
            </div>
            <div>
                {{else}}
                <div>
                <p>{{first_name}} {{last_name}} ({{nickname}})</p>
            </div>
            <div>
                <p>About me:<br>
                    {{about}}</p>
            </div>
            <div>
                <p>Contact me: {{email}}</p>
            </div>
            {{/if}}
        </section>
    </div>


{{#each posts as |post|}}
{{> dash-posts}}
{{/each}}