<section>
    <div>
        <h1>{{username}}</h1>
    </div>
    <div>
        <p>{{email}}</p>
    </div>
    <div>
        <p>{{user_id}}</p>
    </div>
    <div>
        <p>{{about}}</p>
    </div>
    <div>
        <p>{{nickname}}</p>
    </div>
    <div>
        <p>{{first_name}} {{last_name}}</p>
    </div>
</section>
