<div class="card

          align
          mx-4
          mt-4
          bg-light
          text-black
          customCard "  style="width: 18rem;">
            <img src="https://www.fillmurray.com/640/360" class="card-img-top" alt="...">
        <h4 class="card-header"></h4>
        <section class="card-body ">
            {{#if isPrivate}}
            <div>
                <p>{{first_name}} {{last_name}} ({{nickname}})</p>
            </div>
            <div>
                <p>About me:<br>
                    {{about}}</p>
            </div>
            <div>
                {{else}}
                <div>
                <p>{{first_name}} {{last_name}} ({{nickname}})</p>
            </div>
            <div>
                <p>About me:<br>
                    {{about}}</p>
            </div>
            <div>
                <p>Contact me: {{email}}</p>
            </div>
            {{/if}}
        </section>
    </div>
